<footer>
    <h3>SocialME</h3>
    <ul>
        <li>
            <a href="/">HOME</a>
        </li>
        <li>
            <a href="/user/profile">Profile</a>
        </li>
        <li>
            <a href="#">About Us</a>
        </li>
    </ul>
</footer>