<link rel="stylesheet" href="/css/home.css" />

<div id="home-container">
  <section id="feed-posts">
    <h3>Posts</h3>
    <% if(locals.user){ %>
    <form action="/post/create" id="new-post-form" method="post">
      <textarea
        name="content"
        cols="50"
        rows="10"
        placeholder="Whats on your mind, <%= user.name %>?"
      ></textarea>
      <input type="submit" value="Add to your Post" />

    </form>
    <% } %>
    <div id="posts-list-container">
      <ul>
        <% for(post of posts){ %> 
            <%- include('_post') -%> 
         <% } %>
      </ul>
    </div>
  </section>
  <div id="m-f">

    <div id="user-friends">
      <h3>Users</h3>
      <% for(u of all_user) { %>
      <p>
        <a href="/user/profile/<%= u.id %>"><%= u.name %></a>
      </p>
      <% } %>
    </div>
    <div class="meme">
        <button class="meme-btn">Click Me?</button>
        <br>
        <img src="" alt="">
        <h6></h6>
    </div>
    
</div>
