

   
 <!-- new form  -->

    <div id="sign-inForm">
        <form action="/user/create-session" method="post" >
            <h3>Login Here</h3>
        
            <label for="username">Username</label>
            <input type="email" name="email" required placeholder="Enter Email">
        
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter Password">
        
            <button type="submit">Log In</button>
            </form>
    </div>

    
