

   
 <!-- new form  -->

    <div id="sign-inForm">
        <form action="/user/create-session" method="post" >
            <h3>Login Here</h3>
            <label for="username">Username</label>
            <input type="email" name="email" required placeholder="Enter Email">
        
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter Password">
        
            <button type="submit">Log In</button>
            <!--  -->
            <!-- <i class="fa-brands fa-google"></i> -->
            </form>
    </div>
    <p style="text-align: center ;">
        <a href="/user/auth/google"><i style="font-size: 1.5rem; padding: 2px; margin: 2px;" class="fa-brands fa-google">oogle?</i></a>
    </p>

    
