#layout-footer{
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 150px;
    color: white;
    div{
        margin: 15px;
    }
    a{
        color: white;
        text-decoration: none;
    }
    // background: rgb(20, 20, 20);
    background-color: rgb(101, 101, 101);
    display: flex;
    justify-content: flex-start;

    .footer-nav{
        ul{
            list-style: none;
        }
    }
}