html,body{
        #sign-inForm{
            form{
                height: 320px;
                width: 300px;
                background-color: rgba(255,255,255,0.13);
                position: absolute;
                transform: translate(-50%,-50%);
                top: 50%;
                left: 50%;
                border-radius: 10px;
                backdrop-filter: blur(10px);
                border: 2px solid rgba(255,255,255,0.1);
                box-shadow: 0 0 40px rgba(8,7,16,0.6);
                padding: 50px 35px;
            }
            form *{
                font-family: 'Poppins',sans-serif;
                letter-spacing: 0.5px;
                outline: none;
                border: none;
            }
            form h3{
                font-size: 32px;
                font-weight: 500;
                color: #494949;
    
                line-height: 42px;
                text-align: center;
            }
            
            label{
                display: block;
                margin-top: 30px;
                font-size: 16px;
                font-weight: 500;
            }
            input{
                // display: block;
                height: 50px;
                width: 100%;
                background-color: rgba(255,255,255,0.07);
                border-radius: 3px;
                padding: 0 7px;
                margin-top: 4px;
                // font-size: 1px;
                // font-weight: 300;
            }
            ::placeholder{
                color: #e5e5e5;
            }
            button{
                margin-top: 18px;
                width: 90%;
                // background-color: #6c7071;
                background-color: white;
                color: #080710;
                padding: 15px;
                font-size: 15px;
                font-weight: 600;
                border-radius: 5px;
                cursor: pointer;
            }
        } 
    
    scroll-behavior: smooth;
    i:hover{
        box-shadow: 4px 3px 8px 1px #969696;
  	    -webkit-box-shadow: 4px 3px 8px 1px #969696;
    }
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    
    background-color: #EDEDED;
    background-color: white;
    // background-image: url(https://media4.giphy.com/media/xTiTnsydGsuedglBpC/giphy.gif?cid=ecf05e475u7u1adtqjh7x5r0yo45t534hu6wonhs5pxupwg0&rid=giphy.gif&ct=g);
    color: #494949;
    #container{
        min-height: 100%;
        position: relative;
        #layout-main{
            padding: 0px 15px;
            padding-bottom: 150px;
        }
    }
    input[type="submit"] {
        border: 1px solid #0A3D5B;
        color: white;
        padding: 5px 12px;
        background: rgb(54, 53, 53);
        cursor: pointer;
        border-radius: 3px;
        text-transform: capitalize;
        background-image: linear-gradient(0, #1b74e4, #1b74e4);
    background-size: 0;
    transition: .8s;
    background-repeat: no-repeat;
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }
    input:focus {
        outline: none;
    }
    input:hover[type="submit"] 
	{
		background-size: 100%;
        color: #fff;
        box-shadow: 4px 3px 8px 1px #969696;
  	    -webkit-box-shadow: 4px 3px 8px 1px #969696;
	}
    input[type="text"]{
        padding: 5px;
        border-radius: 3px;
        background-color: rgb(255, 255, 255);
    }
    input:hover[type="text"] 
	{
		background-color: rgb(169, 168, 168);
        color: white;
	}
    a i{
        text-decoration: none;
        color: rgb(67, 49, 49);
    }
    
}