#layout-footer {
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  width: 98.93vw;
  height: 150px;
  color: white;
  background-color: #656565;
  display: flex;
  justify-content: flex-start; }
  #layout-footer div {
    margin: 15px; }
  #layout-footer a {
    color: white;
    text-decoration: none; }
  #layout-footer .footer-nav ul {
    list-style: none; }
